<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-color fixed-top p-0">-->

    <nav th:fragment="navbar" class="container-fluid fixed-top g-0">
        <div class="navbar navbar-expand-lg navbar-custom pe-3 shadow mb-5 border-bottom border-2">

                <!-- icon -->
                <a class="navbar-brand ms-3 " th:href="@{index}" style="border-radius: 8px;margin: 5px;">
                    <img src="products/smartfindminilogo.png" type="button" width="50" height="50">
                </a>

                <!-- dummy search button -->
            <div class="input-group w-50 mx-auto d-flex d-none d-md-flex d-lg-none d-xl-flex d-lg-none d-xl-flex d-xl-none d-xxl-none" style="align-content: center;">
                <input type="text" class="form-control mx-auto" placeholder="Search" aria-label="Search" aria-describedby="Search"  title="Future enhancement feature.."  data-bs-toggle="popover" data-bs-boundary="window" data-bs-placement="left" data-bs-trigger="hover" data-bs-content="Under Construction">
                <button class="btn btn-dark" type="button" id="button-addon1" title="Future enhancement feature.."  data-bs-toggle="popover" data-bs-boundary="window" data-bs-placement="left" data-bs-trigger="hover" data-bs-content="Under Construction">Search</button>
            </div>


                <!-- harburger menu -->
                <button class="navbar-toggler navbar-dark " type="button"
                        data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span  class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse  " id="navbarSupportedContent">

                    <div class="input-group w-50 mx-auto d-sm-flex d-lg-flex d-md-none">
                        <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="Search"  title="Future enhancement feature.."  data-bs-toggle="popover" data-bs-boundary="window" data-bs-placement="left" data-bs-trigger="hover" data-bs-content="Under Construction">
                        <button class="btn btn-dark" type="button" id="button-addon2" title="Future enhancement feature.."  data-bs-toggle="popover" data-bs-boundary="window" data-bs-placement="left" data-bs-trigger="hover" data-bs-content="Under Construction">Search</button>
                    </div>

                    <ul class="navbar-nav mx-auto me-2">
                        <li class="home nav-item text-align-center">
                            <a class="nav-link" th:href="@{index}"  aria-current="page">Home</a>
                        </li>

                        <li class="aboutus nav-item">
                            <a class="nav-link" th:href="@{aboutus}">About Us</a>
                        </li>

                        <li class="login nav-item " id="loginLink">
                            <a class="nav-link" th:href="@{login}">Login</a>
                        </li>

                        <!-- <li class="nav-item dropdown dropstart"> -->
                        <li class="nav-item dropdown">
                            <a class="btn dropdown-toggle nav-link " data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="navbarDropdown">
                            </a>

                            <div class="dropdown-menu  dropdown navbarDropdown  " aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" th:href="@{member}">Member's page</a>
                                <a class="dropdown-item"  th:href="@{watchlist}">My Watchlist</a>
                                <a class="dropdown-item" th:href="@{msgInbox}">My Messages</a>
                                <div class="dropdown-divider"></div>
                                <h6 class="dropdown-header text-center"  >Future enhancement</h6>
                                <a class="dropdown-item" title=""  data-bs-toggle="popover" data-bs-boundary="window" data-bs-placement="left" data-bs-trigger="hover" data-bs-content="Future enhancement feature">Profile</a>
                                <a class="dropdown-item" title=""  data-bs-toggle="popover" data-bs-boundary="window" data-bs-placement="left" data-bs-trigger="hover" data-bs-content="Future enhancement feature">Setting...</a>
                                <hr class="dropdown-divider">

                                <!-- logout function replaced by thymeleaf with Spring Security, logout redirects to index page -->
                                <!-- <a class="dropdown-item" onclick="logout()">Logout</a> -->

                                <div sec:authorize="isAuthenticated()">
                                    <form id="logOut" th:action="@{/logout}" method="post">
                                    <a class="nav-link" onclick="document.getElementById('logOut').submit();"> LOG OUT </a>
                                    </form>
                                </div>

                            </div>
                        </li>

                    </ul>

                </div>
        </div>
    </nav>



    <!-- </nav> -->


</body>
</html>