<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-color fixed-top p-0">-->

    <nav th:fragment="navbar" class="container-fluid fixed-top g-0">
        <div class="navbar navbar-expand-lg navbar-custom pe-3 shadow mb-5 border-bottom border-2">

                <!-- icon -->
                <a class="navbar-brand ms-3 " th:href="@{index}" style="border-radius: 8px;margin: 5px;">
                    <img src="products/smartfindminilogo.png" type="button" width="50" height="50">
                </a>

                <!-- dummy search button -->
            <div class="input-group w-50 mx-auto d-flex d-none d-md-flex d-lg-none d-xl-flex d-lg-none d-xl-flex d-xl-none d-xxl-none" style="align-content: center;">
                <input type="text" class="form-control mx-auto" placeholder="Search" aria-label="Search" aria-describedby="Search"  title="Future enhancement feature.."  data-bs-toggle="popover" data-bs-boundary="window" data-bs-placement="left" data-bs-trigger="hover" data-bs-content="Under Construction">
                <button class="btn btn-dark" type="button" id="button-addon1" title="Future enhancement feature.."  data-bs-toggle="popover" data-bs-boundary="window" data-bs-placement="left" data-bs-trigger="hover" data-bs-content="Under Construction">Search</button>
            </div>


                <!-- harburger menu -->
                <button class="navbar-toggler navbar-dark " type="button"
                        data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span  class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse  " id="navbarSupportedContent">

                    <div class="input-group w-50 mx-auto d-sm-flex d-lg-flex d-md-none">
                        <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="Search"  title="Future enhancement feature.."  data-bs-toggle="popover" data-bs-boundary="window" data-bs-placement="left" data-bs-trigger="hover" data-bs-content="Under Construction">
                        <button class="btn btn-dark" type="button" id="button-addon2" title="Future enhancement feature.."  data-bs-toggle="popover" data-bs-boundary="window" data-bs-placement="left" data-bs-trigger="hover" data-bs-content="Under Construction">Search</button>
                    </div>

                    <ul class="navbar-nav mx-auto me-2">
                        <li class="home nav-item text-align-center">
                            <a class="nav-link" th:href="@{index}"  aria-current="page">Home</a>
                        </li>

                        <li class="aboutus nav-item">
                            <a class="nav-link" th:href="@{aboutus}">About Us</a>
                        </li>

                        <li class="login nav-item " id="loginLink">
                            <a class="nav-link" th:href="@{login}">Login</a>
                        </li>

                        <!-- <li class="nav-item dropdown dropstart"> -->
                        <li class="nav-item dropstart">
                            <a class="btn dropdown-toggle nav-link " data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="navbarDropdown">
                            </a>

                            <div class="dropdown-menu  dropdown navbarDropdown  " aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" th:href="@{member}">Member's page</a>
                                <a class="dropdown-item"  th:href="@{watchlist}">My Watchlist</a>
                                <a class="dropdown-item" th:href="@{msgInbox}">My Messages</a>
                                <div class="dropdown-divider"></div>
                                <h6 class="dropdown-header text-center"  >Future enhancement</h6>
                                <a class="dropdown-item" title=""  data-bs-toggle="popover" data-bs-boundary="window" data-bs-placement="left" data-bs-trigger="hover" data-bs-content="Future enhancement feature">Profile</a>
                                <a class="dropdown-item" title=""  data-bs-toggle="popover" data-bs-boundary="window" data-bs-placement="left" data-bs-trigger="hover" data-bs-content="Future enhancement feature">Setting...</a>
                                <hr class="dropdown-divider">

                                <!-- logout function replaced by thymeleaf with Spring Security, logout redirects to index page -->
                                <!-- <a class="dropdown-item" onclick="logout()">Logout</a> -->

                                <div sec:authorize="isAuthenticated()">
                                    <form id="logOut" th:action="@{/logout}" method="post">
                                    <a class="dropdown-item" onclick="document.getElementById('logOut').submit();">Logout</a>
                                    </form>
                                </div>

                            </div>
                        </li>

                    </ul>

                </div>
        </div>
    </nav>

    <!-- </nav> -->

<!-- Modal-->
<!--<div th:fragment="modal" class="modal fade modal-dialog-scrollable" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Item Details</h5>
            </div>

            <div id="carouselModal" class="carousel slide" data-bs-interval="false" style="margin-top: -50px;">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselModal" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselModal" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselModal"  data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>

                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="" class="card-img-top" id="imageUrl1" alt="item1">
                    </div>

                    <div class="carousel-item">
                        <img src="" class="card-img-top" id="imageUrl2" alt="item1">
                    </div>

                    <div class="carousel-item">
                        <img src="" class="card-img-top" id="imageUrl3" alt="item1">
                    </div>
                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#carouselModal" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselModal" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>

            </div>

            <div class="modal-body">
                <h5 class="card-title" id="title">Cameras</h5>
                <small class="text-muted" id="price">$1000</small>
                <p class="card-text" id="description"> WTS : different model camera, price varies, PM me @ +65 12345678 for more info.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>-->

</body>
</html>