 
/* this code is for background color of image carousel */
.bg-color {
  background-color: #5d5d0d;
  padding-top: 50px;
  padding-bottom: 30px;
}

/* this code is for adjusting margin for cards */
.row {
margin: 20px;
}

.carousel-inner {
  display: flex;
  margin-top: 75px;
}

.carousel-smart h5 {
  font-family: 'Special Elite', cursive;
  font-size: 40px;
  font-weight: bolder;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -20px;
  padding-bottom: 100px;
}

.carousel-car h5 {
  font-family: 'Signika Negative', sans-serif;
  font-size: 70px;
  font-weight: bolder;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-car p {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 30px;
  font-weight: bolder;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}


.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  font-size: 40px;
  border: 10px solid #f1f1f1;
  position: fixed; /* Stay fixed */
  z-index: 2;
  width: 600px;
  justify-content: center;
}


.carousel-camera h5 {
  font-family: 'Signika Negative', sans-serif;
  font-size: 70px;
  font-weight: bolder;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-camera p {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 30px;
  font-weight: bolder;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}



 .bg-img  {   

  min-height: 100%;

     /* Create the parallax scrolling effect */
 background-attachment: fixed;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
    
}



.container h1{
font-family: 'Josefin Sans', sans-serif;
font-size: 30px;
font-weight: 900px;
display: flex;
justify-content: center;
align-items: center;
padding-top: 20px;
}

.container p{
font-family: 'Josefin Sans', sans-serif;
font-size: 20px;
display: flex;
justify-content: center;
align-items: center;
padding-top: 10px;
padding-bottom: 10px;
}

.row {
padding: 20px 40px;
background-color: whitesmoke;
}


.pagination { 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  padding: 40px;
  background-color: #7e7e1d;
  box-shadow: 0 0 10px rbga(0, 0, 0, 0.2);
}


.bi i:hover{
  cursor: pointer;
  transition: 0.5s;
  opacity: 0.6;
}

.bi1:hover{
  color: #f1c40f;
  opacity: 1;
}

.bi1:hover ~ i{
  color: #f1c40f;
  opacity: 1;
}

.bi2:hover ~ i{
  color: #f1c40f;
  opacity: 1;
}

.bi3:hover ~ i{
  color: #f1c40f;
  opacity: 1;
}

.bi4:hover ~ i{
  color: #f1c40f;
  opacity: 1;
}

.bi5:hover ~ i{
  color: #f1c40f;
  opacity: 1;
}


.bibinoc i:hover{
  cursor: pointer;
  transition: 0.5s;
  opacity: 0.6;
}


.bg-footer {
  font-family: 'Josefin Sans', sans-serif;
  background-color: #eee8d0;    
}





 /* wrapper - to image size in card */
 .wrapper {
  position: relative;
  overflow: hidden;
}

.wrapper:after {
  content: '';
  display: block;
  padding-top: 100%;
}

  .wrapper img {
  width: auto;
  height: 100%;
  max-width: none;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
} 

/* -----------------------------------------------*/
/* start of nav bar customisation
/* -----------------------------------------------*/
/* the entire bar frame
.navbar-custom {  
  background-color:  #5d5d0d;  
 }   */
 
 /* change the color of active or hovered links of dropdown menu*/
.navbar-custom .nav-item   .dropdown-item.active  ,
.navbar-custom .nav-item  .dropdown-item:hover 
 {
    background-color:  #5d5d0d;  
}
/* -----------------------------------------------*/
/* end of nav bar customisation
/* -----------------------------------------------*/   

/* // */
/* .cid-r7XrvnwwpK .full-screen .slider-fullscreen-image {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
.cid-r7XrvnwwpK .full-screen .slider-fullscreen-image.active {
  display: -o-flex;
}
.cid-r7XrvnwwpK .full-screen .container {
  width: auto;
  padding-right: 0;
  padding-left: 0;
}
.cid-r7XrvnwwpK .full-screen .carousel-item .container.container-slide {
  width: 100%;
  min-height: 100vh;
  padding: 0;
} */

