  * {
    box-sizing: border-box;
}  


 /* -----------------------------------------------*/
/* start of nav bar customisation
/* -----------------------------------------------*/
/* the entire bar frame */
.navbar-custom {  
  background-color:   #e8d14e;  
 }   
 
 /* change the color of active or hovered links of dropdown menu*/
.navbar-custom .nav-item   .dropdown-item.active  ,
.navbar-custom .nav-item  .dropdown-item:hover 
 {
    background-color:   #e8d14e;        
}
/* -----------------------------------------------*/
/* end of nav bar customisation
/* -----------------------------------------------*/   

 

/* .scroll {
    overflow-y: scroll;
    scroll-behavior: smooth;
    height: 540px  
}
 */

.btnSendSize
{
width: 20%;
 
}

  .spacer {
    height:50px;    
    width:100%;
}  
 
 /* wrapper - to image size in card */
 .imgp-wrapper {
    position: relative;
    overflow: hidden;
  }
  
  .imgp-wrapper:after {
    content: '';
    display: block;
    padding-top: 100%;
  }
  
 .imgp-wrapper img {
    width: auto;
    height: 100%;
    max-width: none;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
  }  
    
 /* background container */
 .card-header {
  background-color: #eff0f2;
  border:none;
}
 

 #cardContainer {
 background-color: #eff0f2;
 }

#imgContainer
{
  background-color: #eff0f2;
}

.card  {
    background-color: #eff0f2;
}
   

 /* message pill */
.bg-ltr {
  /* background-color: aliceblue; */
  background-color:white;
}

.bg-ltr > p {
  font-size:larger;
  color:black;
}

.bg-rtl {
  background-color:rgb(69, 253, 139);
}

.bg-rtl > p {
  font-size:larger;
  color:black;
}
/*  ---  */


.bolder {
  font-weight: bolder;
}

.timestamp-size {
  font-size:smaller;
  font-weight: lighter;
  align-self: flex-end;
}

@media only screen and (max-width: 578px) {
    .xs-center-inbox {
      text-align:center;
    }

    
    .xs-img-small-inbox {
      text-align:left;
      width: calc(110% - 5px);  
      height:100%;
     
    }
 

  }